<div class="about">
    <div class="about_header">
        About
    </div>
    <div>
        <p>
            I enjoy turning complex problems into simple, beautiful and intuitive designs.
        </p>
        <p>
            I'm not the type of person who can sit still doing nothing so I always make myself busy. I am always willing to learn something new.
        </p>
        <p>
            My aim is to bring across your message and identity in the most creative way, widen my knowledge in programming, grow more in the industry, and enhance my skills.
        </p>
    </div>
</div>